@import "tailwindcss";


body{
    background-color: black;
    display: flex;
    justify-items: center;
    align-items: center;
    
}


#root{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-items: center;
    align-items: center;
}