@import "tailwindcss";


/* #root{
    width: 100%;
    height: 70vh;
    background-color: rgb(179, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
} */